{% load static %}

<div class="footer">
    <footer class="footer">
        <div class="container">
            <div class="row">
            <div class="col-md-3 align-self-center">
                <a class="logo animate__animated animate__fadeInDown" href="#"><img src="{% static 'img/logo.png' %}" alt="logo" /></a>
            </div>
            <div class="col-md-3 align-self-center">
                <ul class="list-unstyled">
                <li><FontAwesomeIcon icon={faMapMarkerAlt} size="1x" /> Tempe, AZ 85281, United States</li>
                <li><FontAwesomeIcon icon={faEnvelope} size="1x" /> <a href="mailto:info@solarpv.com">info@solarpv.com</a></li>
                <li><FontAwesomeIcon icon={faPhone} size="1x" /> <a href="tel:855-278-5080">855-278-5080</a></li>
                <li><FontAwesomeIcon icon={faGlobe} size="1x" /> <a href="solavPV.com">solavPV.com</a></li>
                </ul>
            </div>
            <div class="col-md-3 align-self-center">
                <ul class="list-unstyled">
                <li><a href="#">Home</a></li>
                <li><a href="#">About us</a></li>
                <li><a href="#">Service</a></li>
                <li><a href="#">Contact us</a></li>
                </ul>
            </div>
            <div class="col-md-3 align-self-center">
                @ 2021 All Rights Reserved
            </div>
            <hr></hr>
            <div class="col-md-12 text-center">
                <ul class="list-unstyled footer-menu">
                <li><a href="#">Site Map</a></li>
                <li><a href="#">Terms & Conditions</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">About Us</a></li>
                </ul>
            </div>
            </div>
        </div>
    </footer>
</div>